.Container {
    width: 60vw;
    height: 80vh;

    background-color: #fff;
    border-radius: 5px;

    overflow-y: scroll;
}

.Container--center {
    display: grid;
    align-items: center;
    justify-content: center;
}