.StudentList {
    height: inherit;
}


.StudentList__input input {
    margin: 0 8px;
    padding: 16px 0 8px;
    width: 95%;
    outline: none;
    border: none;
    border-bottom: 1px solid #ccc;
}

.StudentList__input input:focus {
    border-color: #777;
}

.StudentList__content--center {
    height: calc(100% - 41px);
    display: grid;
    justify-content: center;
    align-items: center;
}